.button {     
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden; 
    outline:none; 
    color: #432b87; 
    float: right;     
}

@media (max-width: 800px) {
    .column {
        flex: 50%;
        max-width: 50%;
    }
}

@media (max-width: 600px) {
    .column {
        flex: 100%;
        max-width: 100%;
    }
}

.slick-slide {
    margin: 0px 10px;
}

.slick-slide img {
    width: 100%;
}